:root {
	--colorful-base: oklch(0.6 0.12 270);
	--primary-0: oklch(0.12 0.05 270);
	--primary-1: oklch(0.208 0.061 270);
	--primary-2: oklch(0.296 0.072 270);
	--primary-3: oklch(0.384 0.083 270);
	--primary-4: oklch(0.472 0.094 270);
	--primary-5: oklch(0.56 0.105 270);
	--primary-6: oklch(0.648 0.116 270);
	--primary-7: oklch(0.736 0.127 270);
	--primary-8: oklch(0.824 0.0873 270);
	--primary-9: oklch(0.912 0.0421 270);
	--wet-0: oklch(0.12 0.0786 270);
	--wet-1: oklch(0.198 0.115 270);
	--wet-2: oklch(0.276 0.13 270);
	--wet-3: oklch(0.354 0.145 270);
	--wet-4: oklch(0.432 0.16 270);
	--wet-5: oklch(0.51 0.175 270);
	--wet-6: oklch(0.588 0.19 270);
	--wet-7: oklch(0.666 0.1764 270);
	--wet-8: oklch(0.744 0.1311 270);
	--wet-9: oklch(0.822 0.0884 270);
	--alt-0: oklch(0.12 0.0275 240);
	--alt-1: oklch(0.208 0.0476 240);
	--alt-2: oklch(0.296 0.0678 240);
	--alt-3: oklch(0.384 0.0879 240);
	--alt-4: oklch(0.472 0.108 240);
	--alt-5: oklch(0.56 0.105 240);
	--alt-6: oklch(0.648 0.102 240);
	--alt-7: oklch(0.736 0.099 240);
	--alt-8: oklch(0.824 0.096 240);
	--alt-9: oklch(0.912 0.0475 240);
	--soft-0: oklch(0.12 0.0659 295);
	--soft-1: oklch(0.208 0.1142 295);
	--soft-2: oklch(0.296 0.12 295);
	--soft-3: oklch(0.384 0.12 295);
	--soft-4: oklch(0.472 0.12 295);
	--soft-5: oklch(0.56 0.12 295);
	--soft-6: oklch(0.648 0.12 295);
	--soft-7: oklch(0.736 0.12 295);
	--soft-8: oklch(0.824 0.0984 295);
	--soft-9: oklch(0.912 0.0474 295);
	--glow-0: oklch(0.12 0.0607 310);
	--glow-1: oklch(0.208 0.1052 310);
	--glow-2: oklch(0.296 0.1497 310);
	--glow-3: oklch(0.384 0.18 310);
	--glow-4: oklch(0.472 0.2 310);
	--glow-5: oklch(0.56 0.22 310);
	--glow-6: oklch(0.648 0.24 310);
	--glow-7: oklch(0.736 0.1846 310);
	--glow-8: oklch(0.824 0.1184 310);
	--glow-9: oklch(0.912 0.0569 310);
	--comp-0: oklch(0.12 0.0249 100);
	--comp-1: oklch(0.208 0.0432 100);
	--comp-2: oklch(0.296 0.0615 100);
	--comp-3: oklch(0.384 0.0798 100);
	--comp-4: oklch(0.472 0.0981 100);
	--comp-5: oklch(0.56 0.1 100);
	--comp-6: oklch(0.648 0.1 100);
	--comp-7: oklch(0.736 0.1 100);
	--comp-8: oklch(0.824 0.1 100);
	--comp-9: oklch(0.912 0.1 100);
	--warm-0: oklch(0.12 0.0281 60);
	--warm-1: oklch(0.208 0.0488 60);
	--warm-2: oklch(0.296 0.0694 60);
	--warm-3: oklch(0.384 0.09 60);
	--warm-4: oklch(0.472 0.1107 60);
	--warm-5: oklch(0.56 0.12 60);
	--warm-6: oklch(0.648 0.12 60);
	--warm-7: oklch(0.736 0.12 60);
	--warm-8: oklch(0.824 0.12 60);
	--warm-9: oklch(0.912 0.0565 60);
	--danger-0: oklch(0.12 0.0482 20);
	--danger-1: oklch(0.193 0.0775 20);
	--danger-2: oklch(0.266 0.1068 20);
	--danger-3: oklch(0.339 0.1361 20);
	--danger-4: oklch(0.412 0.1654 20);
	--danger-5: oklch(0.485 0.1947 20);
	--danger-6: oklch(0.558 0.2241 20);
	--danger-7: oklch(0.631 0.2524 20);
	--danger-8: oklch(0.704 0.1882 20);
	--danger-9: oklch(0.777 0.1308 20);
	--warning-0: oklch(0.12 0.0251 77);
	--warning-1: oklch(0.208 0.0435 77);
	--warning-2: oklch(0.296 0.0619 77);
	--warning-3: oklch(0.384 0.0803 77);
	--warning-4: oklch(0.472 0.0987 77);
	--warning-5: oklch(0.56 0.1172 77);
	--warning-6: oklch(0.648 0.1356 77);
	--warning-7: oklch(0.736 0.154 77);
	--warning-8: oklch(0.824 0.1608 77);
	--warning-9: oklch(0.912 0.0762 77);
}
@media (color-gamut: p3) {
	.palette {
		--primary-8: oklch(0.824 0.0954 270);
		--primary-9: oklch(0.912 0.0463 270);
		--wet-0: oklch(0.12 0.079 270);
		--wet-7: oklch(0.666 0.1907 270);
		--wet-8: oklch(0.744 0.1425 270);
		--wet-9: oklch(0.822 0.0966 270);
		--alt-0: oklch(0.12 0.0359 240);
		--alt-1: oklch(0.208 0.0622 240);
		--alt-2: oklch(0.296 0.0886 240);
		--alt-3: oklch(0.384 0.111 240);
		--alt-9: oklch(0.912 0.052 240);
		--soft-0: oklch(0.12 0.0681 295);
		--soft-1: oklch(0.208 0.118 295);
		--soft-8: oklch(0.824 0.108 295);
		--soft-9: oklch(0.912 0.0524 295);
		--glow-0: oklch(0.12 0.0642 310);
		--glow-1: oklch(0.208 0.1113 310);
		--glow-2: oklch(0.296 0.1584 310);
		--glow-7: oklch(0.736 0.2019 310);
		--glow-8: oklch(0.824 0.1304 310);
		--glow-9: oklch(0.912 0.0632 310);
		--comp-0: oklch(0.12 0.0289 100);
		--comp-1: oklch(0.208 0.0501 100);
		--comp-2: oklch(0.296 0.0712 100);
		--comp-3: oklch(0.384 0.0924 100);
		--comp-4: oklch(0.472 0.1 100);
		--warm-0: oklch(0.12 0.0321 60);
		--warm-1: oklch(0.208 0.0557 60);
		--warm-2: oklch(0.296 0.0793 60);
		--warm-3: oklch(0.384 0.1029 60);
		--warm-4: oklch(0.472 0.12 60);
		--warm-9: oklch(0.912 0.0719 60);
		--danger-0: oklch(0.12 0.0543 20);
		--danger-1: oklch(0.193 0.0874 20);
		--danger-2: oklch(0.266 0.1205 20);
		--danger-3: oklch(0.339 0.1535 20);
		--danger-4: oklch(0.412 0.1866 20);
		--danger-5: oklch(0.485 0.2197 20);
		--danger-6: oklch(0.558 0.2466 20);
		--danger-8: oklch(0.704 0.24 20);
		--danger-9: oklch(0.777 0.1684 20);
		--warning-0: oklch(0.12 0.0288 77);
		--warning-1: oklch(0.208 0.05 77);
		--warning-2: oklch(0.296 0.0712 77);
		--warning-3: oklch(0.384 0.0924 77);
		--warning-4: oklch(0.472 0.1135 77);
		--warning-5: oklch(0.56 0.1347 77);
		--warning-6: oklch(0.648 0.1559 77);
		--warning-7: oklch(0.736 0.1771 77);
		--warning-8: oklch(0.824 0.1982 77);
		--warning-9: oklch(0.912 0.0954 77);
	}
}

