.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	--scale: var(--x, 1.0);
	height: calc(var(--step-3) * (1 + 0.7 * (var(--scale) - 1)));
	font-size: calc(var(--step--1) * var(--scale));
	line-height: 1;
	padding: 0 calc(var(--space-2xs) * var(--scale)) calc(1px * var(--scale));
	--bg: var(--button-bg-color, var(--ui-control-bg-color));
	--fg: var(--button-text-color, var(--ui-control-text-color));
	--bordercol: var(--button-border-color, oklch(from var(--ui-border-color) l calc(c * 0.8) calc(h - 50)));
	border: 1px solid var(--bordercol);
	border-radius: 1lh;
	background-color: var(--bg);
	color: var(--fg);
	outline: none;
	transition: background-color 0.15s, color 2s;
}

.button.square {
	border-radius: 3px;
}

.button > * {
	display: block;
}

.button svg {
	margin: 0;
	vertical-align: baseline;
	position: relative;
	top: 0.5px;
}

.button[data-hovered] {
	background-color: var(--button-hover-bg-color, oklch(from var(--bg) calc(l * 1.10) c h));
	color: var(--button-hover-text-color, oklch(from var(--fg) max(l * 1.1, 1.0) calc(c * 0.7) h));
	border-color: var(--ui-hover-color, inherit);
	cursor: pointer;
	transition: background-color 0.15s, color 0.3s;
}

.button[data-pressed] {
	background-color: oklch(from var(--bg) calc(l * 0.95) calc(c * 0.6) h);
	border-color: oklch(from var(--ui-hover-color) calc(l * 0.95) calc(c * 0.5) h);
	color: oklch(from var(--fg) calc(l * 0.85) calc(c * 0.85) calc(h - 165));
}

.button[data-focused] {
	outline: none;
}

.button[data-focus-visible] {
	outline: 1px solid var(--ui-focus-color);
	outline-offset: 2px;
}

.button[data-disabled] {
	cursor: not-allowed;
}

.group {
	display: flex;
	flex-flow: row nowrap;
}

.group > .button:first-of-type {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.group > .button:last-of-type {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.group > .button:not(:first-of-type):not(:last-of-type) {
	border-radius: 0;
}

.group > .button:not(:first-of-type) {
	border-left: 0;
}
