.container {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-end;
	gap: 2px;
	width: var(--w, fit-content);
	--fg: var(--textarea-text-color, var(--ui-text-color));
	--scale: var(--x, 1.0);
	--sz: calc(var(--size, var(--step--2)) * var(--scale));
}

.textarea {
	font-family: var(--main-font);
	background-color: hsl(0 0% 100% / 0.09);
	color: var(--fg);
	font-size: var(--sz);
	line-height: 1.4em;
	padding: 5px 5px 8px calc(5px * var(--scale));
	border: 1px solid var(--ui-border-color);
	border-radius: 5px;
	margin-top: 4px;
	width: 100%;
	min-width: 150px;
	height: 2lh;
	min-height: var(--h, 2lh);
	outline: none;
	resize: none;
	transition: border-color 0.2s;
}

.textarea[data-focused] {
	outline: none;
	border: 1px solid var(--textarea-focus-color, var(--ui-focus-color));
}

.textarea[data-focus-visible] {
	outline: none;
}

.label {
	display: block;
	color: var(--textarea-label-color, var(--ui-label-color, var(--label-color, var(--fg))));
	font-size: calc(var(--step-0) * (1 + 0.5 * (var(--scale) - 1)));
	line-height: 1em;
}

.description {
	display: block;
	font-size: calc(var(--step--2) * (1 + 0.5 * (var(--scale) - 1)));
	color: var(--ui-deemphasis-color, hsl(from var(--fg) h s calc(l - 12)));
	padding: 0;
	margin-top: 4px;
	line-height: 1em;
}

.error {
	display: block;
	color: var(--ui-error-color);
	font-size: calc(var(--step--2) * (1 + 0.5 * (var(--scale) - 1)));
	line-height: 1;
	margin-top: 2px;
	margin-left: 3px;
}
