/* This is largely the same as the Button component,
		except the selected state and some background colors,
		and the group stuff with orientation options. */

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	--scale: var(--x, 1.0);
	height: calc(var(--step-3) * (1 + 0.7 * (var(--scale) - 1)));
	font-size: calc(var(--step--1) * var(--scale));
	padding: 0 calc(var(--space-2xs) * var(--scale)) calc(2px * var(--scale));
	--fg: var(--togglebutton-text-color, var(--button-text-color, var(--ui-control-text-color)));
	--bg: var(--togglebutton-bg-color, var(--button-bg-color, var(--ui-control-bg-color)));
	--bordercol: var(--button-border-color, oklch(from var(--ui-border-color) l calc(c * 0.8) calc(h - 50)));
	border: 1px solid var(--bordercol);
	border-radius: calc(var(--step-3) * (1 + 0.7 * (var(--scale) - 1)) / 2);
	background-color: var(--bg);
	color: var(--fg);
	outline: none;
	transition: background-color 0.15s, color 2s;
}

.button > * {
	display: block;
}

.button svg {
	margin: 0;
	vertical-align: baseline;
	position: relative;
	top: calc(0.5px * var(--scale));
}

.button[data-hovered] {
	background-color: var(--togglebutton-hover-bg-color, var(--button-hover-bg-color, oklch(from var(--bg) calc(l * 1.10) c h)));
	color: var(--togglebutton-hover-text-color, var(--button-hover-text-color, oklch(from var(--fg) max(l * 1.1, 1.0) calc(c * 0.7) h)));
	border-color: var(--ui-hover-color, inherit);
	cursor: pointer;
	transition: background-color 0.15s, color 0.3s;
}

.button[data-selected],
.button[data-pressed] {
	background-color: var(--ui-togglebutton-selected-bg-color, var(--ui-control-color));
	color: var(--ui-togglebutton-selected-color, oklch(from var(--fg) calc(l * 1.1) c h));
}

.button[data-selected][data-hovered] {
	background-color: oklch(from var(--ui-togglebutton-selected-bg-color, var(--ui-control-color)) calc(l * 1.02) calc(c * 0.8) h);
}

.button[data-focused] {
	outline: none;
}

.button[data-focus-visible] {
	outline: 2px solid var(--togglebutton-focus-color, var(--ui-focus-color));
	outline-offset: 1px;
}

.button[data-disabled] {
	cursor: not-allowed;
}

.group {
	display: flex;
	flex-flow: row nowrap;
	--scale: var(--x, 1.0);
}

.group[data-orientation='vertical'] {
	flex-flow: column nowrap;
}

.group[data-orientation='horizontal'] > .button:first-of-type {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.group[data-orientation='horizontal'] > .button:last-of-type {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.group[data-orientation='vertical'] > .button:first-of-type {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.group[data-orientation='vertical'] > .button:last-of-type {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.group > .button:not(:first-of-type):not(:last-of-type) {
	border-radius: 0;
}

.group[data-orientation='horizontal'] > .button:not(:first-of-type) {
	border-left: 0;
}

.group[data-orientation='vertical'] > .button:not(:first-of-type) {
	border-top: 0;
}
