:root {

	--ui-text-color: hsl(from var(--text-color, white) h s calc(l * 0.9));
	--ui-bg-color: var(--bg-color, black);

	--ui-border-color: var(--border-color, hsl(223 43% 75% / 100%));
	--ui-alt-border-color: var(--alt-border-color, hsl(200 60% 75% / 100%));

	--ui-label-color: var(--label-color, var(--ui-text-color));
	--ui-deemphasis-color: var(--deemphasis-color, hsl(from var(--ui-text-color) h s calc(l - 12)));

	--ui-error-color: var(--error-color, hsl(0 100% 65% / 100%));
	--ui-warning-color: var(--warning-color, hsl(50 100% 50% / 100%));

	--ui-highlight-bg-color: var(--highlight-bg-color, hsl(211 40% 40% / 100%));
	--ui-highlight-color: var(--ui-highlight-bg-color);
	--ui-text-highlight-color: var(--text-highlight-color, hsl(50 75% 75% / 100%));
	--ui-text-alt-highlight-color: var(--text-alt-highlight-color, hsl(321 70% 75% / 100%));

	--ui-focus-color: var(--ui-warning-color);
	--ui-control-color: var(--control-color, hsl(213 85% 55% / 100%));
	--ui-control-highlight-color: var(--control-highlight-color, hsl(171 85% 55% / 100%));
	--ui-field-bg-color: hsl(0 0% 100% / 0.09);
}
